.list-item {
  display: flex;
  flex-direction: column;
  max-width: var(--list-item-width);
  border: 1px solid var(--backgroud);
  background-color: var(--list-item-background);
  padding: 12px;
}

.list-item.clickable:hover {
  cursor: pointer;
}

.list-item-title {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.list-item.clickable:hover .list-item-title {
  text-decoration: underline;
}

.list-item-sub-title {
  color: var(--subtitle-color);
  margin-bottom: 4px;
}

.list-item-description {
  height: 120px;
  position: relative;
  overflow: hidden;
}

.list-item-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.list-item-footer-tag-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 8px;
}

@media only screen and (max-width: 600px) {
  .list-item-description {
    height: 150px;
  }
}
